@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC&family=Open+Sans&display=swap');

h1,h2,h3,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,li,ul,textarea,label{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.btn{
    background-color: #B9D48B;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

body{
    background: linear-gradient(3deg, rgba(255,154,154,1) 0%, rgba(105,202,255,1) 56%, rgba(27,208,255,1) 83%, rgba(164,235,232,1) 100%);
}
/*----header----*/
/*header{   
    background-color: #B9D48B;
}
*/

header img{
    width: 30px;
    height: 30px;
}

header li {
    margin: 0 10px;
}
/*----footer----*/
footer{
    padding: 80px 0px;
    
}

#logo {
    width: 70px;
    align-self: flex-end;
}

#redes img{
    width: 40px;
}

#pie-pagina{
    margin: 20px;
}

#pie-pagina a{
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: auto;
}
#pie-pagina p{
    text-align: center;
    margin: 20px;
}

/*----index----*/

#intro h1{
    color: white;
}

#intro {
    display: flex;
    background-image: url("../images/yusan.jpg"); 
    background-size: cover;
    height: 500px;
    position: relative;
    text-align: left;
}
#primero{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
}

#primero img{
    width: 300px;
    height: 400px;
}

#segundo{
    padding: 80px 0px;
}

#segundo h3{
    margin-bottom: 20px;
}

#segundo img{
    box-shadow: 10px 10px;
}

/*----quienes somos----*/
.galeria h3{
    text-align: left;
    margin: 20px;
    padding-left: 50px;
}
.galeria-contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    margin: auto;
    grid-gap: 10px;
}

.galeria-item{
    position: relative;
}

.galeria-fotos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.galeria-titulo{
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    margin: 0;
    padding: 10px;
}


/*mobile*/
@media (min-width:400px){
    .galeria-contenedor{
        grid-template-columns: 1fr;
    } 
    .galeria-item:nth-child(2){
        grid-row-start: span 2;
    }

    .galeria-item:nth-child(4){
        grid-column-start: span 1;
    }

    .galeria-item:nth-child(5){
        grid-row-start: span 2;
    }
}
/*tablet*/
@media (min-width:770px){
    .galeria-contenedor{
        grid-template-columns: repeat(2,1fr);
    } 
    .galeria-item:nth-child(2){
        grid-row-start: span 2;
    }

    .galeria-item:nth-child(4){
        grid-column-start: span 2;
    }

    .galeria-item:nth-child(5){
        grid-row-start: span 3;
    }

}

/*desktop*/
@media (min-width:1240px){
    .galeria-contenedor{
        grid-template-columns: repeat(4,1fr);
    } 
    .galeria-item:nth-child(1){
        grid-row-start: span 2;
    }

    .galeria-item:nth-child(2){
        grid-row-start: span 1;
    }

    .galeria-item:nth-child(3){
        grid-column-start: span 2;
    }

    .galeria-item:nth-child(4){
        grid-column-start: span 2;  
    }

    .galeria-item:nth-child(5){
        grid-row-start: span 2;
        
    }
    .galeria-item:nth-child(8){
        grid-row-start: span 2;
        
    }
}

/*----tuor de youtubers-----*/

#video-galeria{
    text-align: left;
    margin: 20px;
}

#video-galeria h1{
    font-size: 55px;
    margin: 20px;
    text-align: center;
}

.card{
    background-color: #f4c7ab;
}

/*----contacto-----*/

#formulario h1{
    text-align: center;
    font-size: 55px;
    margin: 20px;
}

/*----donde queda-----*/

video{
    max-width: 100%;
}

/*----ranking----*/
