@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC&family=Open+Sans&display=swap');

// variables
$tipografia-texto:'Open Sans', sans-serif;
$tipografia-titulo: 'Noto Sans TC', sans-serif;
$color-texto:white;
$color-intro:black;
$color-boton:#94bbe9;
$padding:10px 25px;
$borde-redondo: 10px;
$gradient:linear-gradient(3deg, rgba(255,154,154,1) 0%, rgba(105,202,255,1) 56%, rgba(27,208,255,1) 83%, rgba(164,235,232,1) 100%);

//mixins
@mixin boton-personalizada{
    background-color:$color-boton;
    color: $color-texto;
    padding: $padding;
    border-radius: $borde-redondo;
    border-style:none;
}

@mixin tamanio-imagen{
    max-width: 100%;
    height: auto;
}

@mixin carta{
    background-color: #94bbe9;
    width: 50vh;
}

@mixin subtitulos{
    margin-bottom: 30px;
    gap: 20px;
    a{
        text-decoration: none;
        color:black;
    }
}

//animaciones

@keyframes cambiar-imagen-intro{
    0%{
        background-image: url(./images/yusan.jpg);
    }
    25%{
        background-image: url(./images/paisaje.jpg);
    }
    50%{
        background-image: url(./images/101.jpg);
    }
    75%{
        background-image: url(./images/12.jpg);
    }
    100%{
        background-image: url(./images/yusan.jpg);
    }
}

//general

h1,h2,h3,h3,h4,h5,h6{
    font-family: $tipografia-titulo;
}

p,a,input,li,ul,textarea,label{
    font-family: $tipografia-texto;
}

img{
    @include tamanio-imagen();
}

.btn{
    @include boton-personalizada();
}

body{
    background: $gradient;
}

//header

header{
    img{
        width: 30px;
        height: 30px;
    }
    li{
        margin: 0 10px;
    }
}
 
//footer

footer{
    margin-bottom: 0px;
    margin-top: 40px;
    #logo{
        width: 70px;
        align-self: flex-end;
    }
    #redes{
        a{
            text-decoration: none;
        }
        img{
            width: 40px;
        }
    }
    .mapa{
        width: 350px;
        height: 200px;          
    }
    #pie-pagina{
        margin: 20px;
        a{
            text-decoration: none;
            color: black;
            align-items: center;
        }
    }
}

//index

#intro {
    position: relative;
    background-image: url(./images/101.jpg);
    height: 80vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: cambiar-imagen-intro 20s infinite ease-in-out;
    .text-block{
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: white;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgb(0, 0, 0); 
        background: rgba(0, 0, 0, 0.5);
        p{
            padding-left: 10px;
        }
      }
}

#primero{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    img{
        width: 500px;
        height: 500px;
    }
}

#segundo{
    gap:20px;
    position: relative;
    @include subtitulos();
    h2,h3{
        margin-bottom: 20px;
    }
    .card{
        margin-top: 20px;
        background: radial-gradient(circle, rgba(222,174,238,1) 0%, rgba(148,233,232,1) 100%);
    }
}

#tercero{
    @include subtitulos();
    img{
        box-shadow: 10px 10px;
    }
}

//galeria

.galeria{
    h3{
        text-align: left;
        margin: 20px;
        padding-left: 50px;
    }
    .galeria-contenedor{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
        padding: 20px;
        margin: auto;
        grid-gap: 10px;
        .galeria-item{
            position: relative;
            .galeria-fotos{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $borde-redondo;
            }
            .galeria-titulo{
                position: absolute;
                top: 0;
                color: white;
                width: 100%;
                margin: 0;
                padding: 10px;
            }
        }
    }
}

/*mobile*/
@media (min-width:400px){
    .galeria{
        .galeria-contenedor{
            grid-template-columns: 1fr;
            .galeria-item:nth-child(2){
                grid-row-start: span 2;
            }
        
            .galeria-item:nth-child(4){
                grid-column-start: span 1;
            }
        
            .galeria-item:nth-child(5){
                grid-row-start: span 2;
            }
        } 
    }
}

/*tablet*/
@media (min-width:770px){
    .galeria{
        .galeria-contenedor{
            grid-template-columns: repeat(2,1fr);
            .galeria-item:nth-child(2){
                grid-row-start: span 2;
            }
        
            .galeria-item:nth-child(4){
                grid-column-start: span 2;
            }
        
            .galeria-item:nth-child(5){
                grid-row-start: span 3;
            }
        } 
    }
}

/*desktop*/
@media (min-width:1240px){
    .galeria{
        .galeria-contenedor{
            grid-template-columns: repeat(4,1fr);
            .galeria-item:nth-child(1){
                grid-row-start: span 2;
            }
        
            .galeria-item:nth-child(2){
                grid-row-start: span 1;
            }
        
            .galeria-item:nth-child(3){
                grid-column-start: span 2;
            }
        
            .galeria-item:nth-child(4){
                grid-column-start: span 2;  
            }
        
            .galeria-item:nth-child(5){
                grid-row-start: span 2;
                
            }
            .galeria-item:nth-child(8){
                grid-row-start: span 2;
                
            }
        } 
    }
}

//tuor de youtubers

#video-galeria{
    text-align: left;
    margin: 20px;
    h1{
        font-size: 55px;
        margin: 20px;
        text-align: center;
    }
}

//contacto

#formulario h1{
    text-align: center;
    font-size: 55px;
    margin: 20px;
}

//video

video{
    max-width: 100%;
}

//ranking